@font-face {
    font-family:titulos;
    src:url('/fonts/PinyonScript-Regular.ttf')
}
@font-face {
    font-family:textos;
    src:url('/fonts/Roboto-Light.ttf')
}
body{
    background-color: rgba(233, 231, 231, 0.883);
    padding-top:150px;
    font-family: textos;
}
footer{
    background-color: black;
    color: white;
    font-family: textos;
}
footer ul{
    font-size: 20px;
}
footer li{
    list-style: none;
    font-size: 16px;
    text-decoration:none;
}
h2{
    font-family: titulos;
    text-align: center;
    font-size: 80px;
    font-weight: 100px;
}
#logoCabecera{
    width: 87px;
    padding: 2px;
}
#navbar-link{
    color:black;
}
#navbar-link:hover{
    background-color: brown;
    color:white;
}
.avatar{
    width:55px;
    margin-bottom: 15px;
}
.navbar .container-avatar{
    width:45px;
    height: 45px;
    border-radius: 50%; 
    overflow: hidden;
    margin-right: 15px;
}
.navbar .container-avatar img{
    height: 100%;
}
#imgUserPerfil{
    width:200px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#carouselImagenes img{
    height: 300px;
    background-size: cover;
}

#imgWinePerfil{
    height:240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.card:hover{
    box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.50);/*sombreado para que parezca que sobre sale de la pantalla*/
}
#cardWinePerfil{
    margin-top: 50px;
}
#cardHome{
    display:inline-block;
}
#cardWinePortada{
    height: 420px;
    margin-bottom: 50px;
}
#imgWinePortada{
    height:160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-header{
    background-color: rgba(131, 26, 26, 0.979);
    color:white;
}

#headerPortada{
    color:white;
    background-color: rgba(131, 26, 26, 0.979);
    height:150px;
}
#headerPortada h4{
    font-size: 18px;
    text-align: center;
}
#cardbodyPortada{
    height:500px;
}
#cardFooterPortada{
    width: 100%;
    height: 130px;
    display: inline-block;
}
#precioPortada{
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    padding-right: 15px;
}
#precioPortada a{
    width: 100px;
}

.btn-favourite{
    width: 27px;
    float: right;
    cursor:pointer;
}
.btn-quitFavourite{
    width: 27px;
    float: right;
    cursor:pointer;
}
#contaLikes{
    float: left;
    padding: 8px;
}
.btn-like{
    width: 27px;
    float: left;
    cursor:pointer;
}
.btn-dislike {
    width: 27px;
    float: left;
    cursor:pointer;
}
#comentarioVino{
    padding: 20px;
}
#comentsUser{
    border:1px solid red;
    display: inline-block;
}
.carrito{
    width:38px;
    float:right;
    margin-right: 20px;
}
#cantidadProduct{
    width: 50px;
    height: 30px;
}
#carrito-btn{
    margin-left: 5px;
    padding: 2px;;
    height: 30px;;
    width: 90px;
}
#imgTipoWine{
    margin-top: 20px;
    transition: 0.6s;
}
#imgTipoWine:hover{
    transition: 0.6s;
    opacity: 0.8;
}
#cabeceraTinto{
    background-image: url("/img/cetalle-categoria-tinto.jpg");
    height: 300px;
    color:white;
}
#cabeceraTinto p{
    font-size: 30px;
    font-weight: lighter;
    padding-top: 70px;
    padding-bottom: 20px;
}
#cabeceraTinto h2{
    font-size: 88px;
    font-weight: lighter;
}
#cabeceraRosado{
    background-image: url("/img/cetalle-categoria-rosado.jpg");
    height: 300px;
    color:white;
}
#cabeceraRosado p{
    font-size: 30px;
    font-weight: lighter;
    padding-top: 70px;
    padding-bottom: 20px;
}
#cabeceraRosado h2{
    font-size: 88px;
    font-weight: lighter;
}
#cabeceraBlanco{
    background-image: url("/img/cetalle-categoria-blanco.jpg");
    height: 300px;
    color:white;
}
#cabeceraBlanco p{
    font-size: 30px;
    font-weight: lighter;
    padding-top: 70px;
    padding-bottom: 20px;
}
#cabeceraBlanco h2{
    font-size: 85px;
    font-weight: lighter;
}
#cabeceraSumiller{
    background-image: url("/img/carrusel_sumiller.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color:white;
}
#cabeceraSumiller h2{
    font-size: 60px;
    font-weight: lighter;
    padding-top: 15px;
}
#cabeceraUsuarios{
    background-image: url("/img/carrusel_topusers1.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
    color:white;
    text-align: center;
}
#cabeceraUsuarios h2{
    font-size: 60px;
    font-weight: lighter;
    padding-top: 15px;
}
thead,#detallePrecio{
    background-color:rgba(131, 26, 26, 0.979);
    color:white;
}
